/*======================MAIN========================*/

.wrapper {
	max-width:								600px;
	margin:									0 auto;
	padding-top:							46px;
	
	&:after {
		@include							clearElement()
	}
}

.main-nav {
	float:									left;
	width:									33.3333%;
	padding-right:							10px;
	margin-top:								6px;
	
	@include								boxSizing(border-box)
}

.main-content {
	height:									570px;
	float:									left;
	width:									66.6666%;
}

.main-content__content {
	height:									570px;
	@include								boxSizing(border-box)
}