html {
	-webkit-text-size-adjust:				none;
}

body {
	background:								url(../img/backgrounds/bg.jpg) top center $bodyColor;
	color:									$textColor;
	font-family:							$mainFont;
	overflow-y:								scroll;
}

a {
	text-decoration:						none;
	color:									$linkColor;
	
	&:hover {
		color:								$linkHoverColor;
	}
}

img { max-width: 100%; height: auto; }

.clear { clear: both; }

/*======================MAIN========================*/

.wrapper {
	padding:								15px;
}

.site_headers {
	margin-bottom:							40px;
	position:								relative;
	animation:								fadein 0.5s;
	
	h1 {
		font-size:							50px;
		
		
		a {
			color:							#333;
			transition:						color 0.2s;
			
			&:hover {
				color:						#021533;
			}
		}
	}
	
	h2 {
		font-size:							18px;
	}
}

@keyframes fadein {
	from { opacity: 0; left: -60px; }
	to   { opacity: 1; left: 0; }
}

/*======================MAIN-NAV========================*/

.main-nav {
	margin-bottom:							15px;
	
	li {
		margin-bottom:						5px;
		position:							relative;
		
		&.ng-move,
		&.ng-enter,
		&.ng-leave {
			transition:all linear 0.5s;
		}
		
		&.ng-leave, &.ng-leave-active,
		&.ng-move,
		&.ng-enter {
			opacity: 0;
			left: -60px;
		}
		
		&.ng-leave,
		&.ng-move.ng-move-active,
		&.ng-enter.ng-enter-active {
			opacity: 1;
			left: 0;
		}
		
		&.ng-enter-stagger {
			transition-delay:0.2s;
			transition-duration:0;
		}
		
		a {
			display:						block;
			background:						$linkColor;
			color:							#fff;
			padding:						10px;
			font-size:						12px;
			text-transform:					uppercase;
			transition:						all 0.3s;
			position:						relative;
			overflow:						hidden;
			z-index:						1;
			
			&:before{
				content:					"";
				display:					block;
				position:					absolute;
				top:						0;
				left:						0;
				height:						100%;
				width:						0;
				transition:					all 0.3s;
				background:					#021533;
				z-index:					-1;
			}
			
			&:hover {
				&:before {
					width:					100%;
				}
			}
		}
		
		&.current-menu-item {
			a {
				background:					#021533;
			}
		}
	}
}

/*======================MAIN-CONTENT========================*/

.main-content {
	
	position:								relative;
}

/*======================CONTENT========================*/

//Loading directive
.sk-folding-cube {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 80px;
  left: 50%;
  margin-left: -20px;
  -webkit-transform: rotateZ(45deg);
          transform: rotateZ(45deg);
}

.sk-folding-cube .sk-cube {
  float: left;
  width: 50%;
  height: 50%;
  position: relative;
  -webkit-transform: scale(1.1);
      -ms-transform: scale(1.1);
          transform: scale(1.1); 
}
.sk-folding-cube .sk-cube:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
          animation: sk-foldCubeAngle 2.4s infinite linear both;
  -webkit-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
          transform-origin: 100% 100%;
}
.sk-folding-cube .sk-cube2 {
  -webkit-transform: scale(1.1) rotateZ(90deg);
          transform: scale(1.1) rotateZ(90deg);
}
.sk-folding-cube .sk-cube3 {
  -webkit-transform: scale(1.1) rotateZ(180deg);
          transform: scale(1.1) rotateZ(180deg);
}
.sk-folding-cube .sk-cube4 {
  -webkit-transform: scale(1.1) rotateZ(270deg);
          transform: scale(1.1) rotateZ(270deg);
}
.sk-folding-cube .sk-cube2:before {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}
.sk-folding-cube .sk-cube3:before {
  -webkit-animation-delay: 0.6s;
          animation-delay: 0.6s; 
}
.sk-folding-cube .sk-cube4:before {
  -webkit-animation-delay: 0.9s;
          animation-delay: 0.9s;
}
@-webkit-keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  } 
}

@keyframes sk-foldCubeAngle {
  0%, 10% {
    -webkit-transform: perspective(140px) rotateX(-180deg);
            transform: perspective(140px) rotateX(-180deg);
    opacity: 0; 
  } 25%, 75% {
    -webkit-transform: perspective(140px) rotateX(0deg);
            transform: perspective(140px) rotateX(0deg);
    opacity: 1; 
  } 90%, 100% {
    -webkit-transform: perspective(140px) rotateY(180deg);
            transform: perspective(140px) rotateY(180deg);
    opacity: 0; 
  }
}

.main-content__content {
	background:								$containerColor;
	padding:								20px;
	border-top:								6px solid #111;
	opacity:								0;
	transition:								opacity 0.5s;
	overflow:								auto;
	opacity:								0;
	position:								relative;
	
	&.active {
		opacity:							1;
	}
}

.main-content__image {
	display:								block;
	margin:									0 auto;
	border-radius:							100%;
	border:									6px solid #ddd;
	width:									100%;
	max-width:								200px;
	margin-bottom:							20px;
}

.main-content____header {
	padding-bottom:							20px;
	border-bottom:							1px solid #ddd;
	margin-bottom:							20px;
}

.main-content____title {
	text-align:								center;
	font-weight:							bold;
	font-size:								36px;
	margin-bottom:							14px;
	color:									#021533;
	
	.name {
		color:								#08aeac;
	}
}

.main-content____subtitle {
	text-align:								center;
	font-size:								14px;
	font-weight:							bold;
	padding-bottom:							10px;
	border-bottom:							1px solid #ccc;
	margin-bottom:							10px;
}

.main-content____contact_box {
	background:								$linkColor;
	color:									#fff;
	padding:								10px;
	border-radius:							5px;
	text-align:								center;
	font-size:								12px;
	margin-bottom:							10px;
}

.main-content__socialmedia {
	list-style:								none;
	text-align:								center;
	
	li {
		display:							inline-block;
		width:								20px;
		height:								20px;
		text-indent:						-999px;
		overflow:							hidden;
		
		&.linkedin {
			background:						url(../img/icons/linkedin.svg);
			background-size:				100%;
		}
		&.twitter {
			background:						url(../img/icons/twitter.svg);
			background-size:				100%;
		}
		&.lastfm {
			background:						url(../img/icons/lastfm.svg);
			background-size:				100%;
		}
		
		a {
			display:						block;
			width:							100%;
			height:							100%;
		}
	}
}

.main-content__subpageheading {
	color:									#021533;
	text-transform:							uppercase;
	font-size:								22px;
	line-height:							26px;
	font-weight:							bold;
	padding-bottom:							10px;
	border-bottom:							1px solid #021533;
	margin-bottom:							20px;
}

.content {
	font-size:								13px;
	
	p {
		font-size:							13px;
		margin-bottom:						1em;
		line-height:						1.4em;
	}
	
	ul, ol {
		margin-left:						15px;
		margin-bottom:						1em;
		font-size:							13px;
		line-height:						1.4em;
		
		ul, ol {
			margin-bottom:					0;
		}
	}
	
	h1 {
		font-weight:						bold;
		color:								#08aeac;
		font-size:							20px;
		border-left:						4px solid #08aeac;
		padding-left:						15px;
		margin-bottom:						15px;
	}
	
	//Resume list
	
	.resume-list {
		list-style:							none;
		margin-bottom:						30px;
		
		li {
			margin-bottom:					20px;
			
			.date {
				display:					block;
				padding-bottom:				5px;
				border-bottom:				1px solid #41969c;
				margin-bottom:				5px;
				font-size:					13px;
				color:						#333;
				line-height:				15px;
			}
			
			h2 {
				font-weight:				bold;
				color:						#333;
				font-size:					18px;
				line-height:				22px;
				margin-bottom:				4px;
			}
			
			h3 {
				color:						#333;
				font-size:					13px;
				margin-bottom:				5px;
				line-height:				15px;
			}
			
			p {
				font-size:					12px;
				margin-bottom:				0;
			}
			
			li {
				margin-bottom:				0;
				list-style-type:			initial;
			}
		}
	}
	
	.skills-list {
		list-style:							none;
		margin-left:						0;
		
		li {
			padding-left:					80px;
			min-height:						60px;
			margin-bottom:					10px;
			background-size:				80px 60px;
			background-repeat:				no-repeat;
			
			&.front-end {
				background-image:			url(../img/icons/code.png);
			}
			&.wordpress {
				background-image:			url(../img/icons/wp.png);
			}
			&.responsive {
				background-image:			url(../img/icons/rwd.png);
			}
		}
	}
}

/*======================CONTACT FORM========================*/

.contact-form {
	p {
		margin-bottom:						1em;
		font-size:							13px;
		
		&.contact-form__success {
			color:							#008c8a;
		}
		&.contact-form__error {
			color:							#f00;
		}
		
		input[type="text"],
		input[type="email"] {
			width:							100%;
			height:							50px;
			line-height:					1em;
			display:						block;
			padding:						6px 12px;
			font-size:						14px;
			color:							#555;
			background:						#fff;
			border:							1px solid #ccc;
			outline:						none;
			font-weight:					normal;
			
			@include						boxSizing(border-box);
			
			&::-webkit-input-placeholder,
			&:-moz-placeholder, 
			&::-moz-placeholder, 
			&:-ms-input-placeholder {
				color:						#999;
				font-style:					italic;
			}
		}
		
		textarea {
			width:							100%;
			height:							200px;
			line-height:					1em;
			display:						block;
			padding:						6px 12px;
			font-size:						14px;
			font-weight:					normal;
			color:							#555;
			background:						#fff;
			border:							1px solid #ccc;
			outline:						none;
			font-family:					$mainFont;
			
			@include						boxSizing(border-box);
			
			&::-moz-placeholder,
			&::-moz-placeholder {
				color:						#999;
				font-style:					italic;
			}
		}
	}
	
	input[type="submit"] {
		display:							block;
		cursor:								pointer;
		width:								100%;
		height:								50px;
		background:							#008c8a;
		color:								#fff;
		font-weight:						bold;
		padding:							0;
		text-transform:						uppercase;
		border:								none;
		outline:							none;
		font-family:						$mainFont;
		transition:							background 0.2s;
		
		@include							boxSizing(border-box);
		
		&:hover {
			background:						#021533;
		}
		
		&.disabled {
			background:						#999;
		}
	}
}