/*********************
CONSTANTS
*********************/

$mainFont:				'Montserrat', sans-serif;

$bodyColor:				#eee;
$containerColor:		#fff;
$textColor:				#333;
$linkColor:				#08AEAC;
$linkHoverColor:		#2A6496;


/*********************
MIXINS 
*********************/

@mixin logoImage($width, $height) {
	width:				$width;
	height:				$height;
	text-indent:		100%;
	white-space:		nowrap;
	overflow:			hidden;

	a {
		display:			block;
		width:				100%;
		height:				100%;
	}
}

@mixin clearElement() {
	display:				block;
	clear:					both;
	content:				" ";
	height:					0;
	overflow:				hidden;
}

@mixin boxShadow($hor, $ver, $blur, $spread, $hex) {
	-webkit-box-shadow:		$hor $ver $blur $spread $hex;
	box-shadow:				$hor $ver $blur $spread $hex;
}

@mixin boxSizing($value) {
	-webkit-box-sizing: $value; /* Safari/Chrome, other WebKit */
	-moz-box-sizing: $value;    /* Firefox, other Gecko */
	box-sizing: $value;         /* Opera/IE 8+ */
}

@mixin animation($animate...) {
	$max: length($animate);
	$animations: '';
	
	@for $i from 1 through $max {
		$animations: #{$animations + nth($animate, $i)};
		
		@if $i < $max {
			$animations: #{$animations + ", "};
		}
	}
	-webkit-animation: $animations;
	-moz-animation:    $animations;
	-o-animation:      $animations;
	animation:         $animations;
}

@mixin keyframes($animationName) {
	@-webkit-keyframes #{$animationName} {
		@content;
	}
	@-moz-keyframes #{$animationName} {
		@content;
	}
	@-o-keyframes #{$animationName} {
		@content;
	}
	@keyframes #{$animationName} {
		@content;
	}
}


@mixin transition($transition-property, $transition-time, $method) {
	-webkit-transition: $transition-property $transition-time $method;
	-moz-transition: $transition-property $transition-time $method;
	-ms-transition: $transition-property $transition-time $method;
	-o-transition: $transition-property $transition-time $method;
	transition: $transition-property $transition-time $method;
}