<loading ng-show="isLoading"></loading>
<article class="main-content__content">
	<div ng-if="!is404">
		<h1 ng-bind-html="data.page.title.rendered" class="main-content__subpageheading"></h1>
		
		<div class="content" ng-bind-html="data.page.content.rendered">
		</div>
		
		<div ng-include="contactInclude"></div>
	</div>
	<div ng-if="is404">
		<h1 class="main-content__subpageheading">Page not found</h1>
		<p>I'm sorry, the page you are looking for is not here.</p>
	</div>
</article>