
<loading ng-show="isLoading"></loading>

<article class="main-content__content">
	
	<header class="main-content__header">
		
		<img ng-src="{{data.page.acf.startpage_image}}" class="main-content__image" />
		
		<h1 class="main-content____title">
			<span ng-bind-html="data.page.acf.startpage_header"></span>
			<span ng-bind-html="data.page.acf.startpage_header1_green" class="name"></span>
		</h1>
		<h2 class="main-content____subtitle" ng-bind-html="data.page.acf.startpage_subheader"></h2>
	</header>

	<div class="content" ng-bind-html="data.page.content.rendered">
		
	</div>

	<div class="main-content____contact_box" ng-bind-html="data.page.acf.email_field">
		
	</div>
	
	<ul class="main-content__socialmedia">
		<li class="linkedin"><a href="https://se.linkedin.com/in/mickehasselqvist" target="_blank">LinkedIn</a></li>
		<li class="lastfm"><a href="http://www.last.fm/sv/user/Micke_H" target="_blank">LastFM</a></li>
		<li class="twitter"><a href="https://twitter.com/m_hasselqvist" target="_blank">Twitter</a></li>
	</ul>

</article>